*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1170px;
}

.container{
    max-width: 657px;
    margin: 0 auto;
}

.container:after{
    content: "";
    display: table;
    clear: both;
}

[class*="col-"]{
    float: left;
}
